[Unit]
Description=Internet Connectivity Monitor by almostengr
After=network.target
Documentation=https://github.com/almostengr/internetmonitor

[Service]
Type=simple
Restart=always
ExecStart=/home/iamadmin/internetmonitor/Almostengr.InternetMonitor.Api
User=iamadmin

[Install]
WantedBy=multi-user.target
